/* sweetalert */
.swal-modal {
    border-radius: 0px !important;
}
.swal-button {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.swal-button:focus {
    box-shadow: none;
}

/* theme */
.profile-img-details {
    /* float: none; */
    /* margin-left: 143px; */
    width: 355px;
}

.navigation-bar {
    /* width: 142px */
}
.node-answer-input {
    cursor: pointer;
    background: rgba(0, 0, 0, .06);
    border: none;
    padding: 20px;
    margin-bottom: 20px;
    display: block;
    text-align: left;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    width: 100%;
}
